

.court {
  --player-circle-diameter: 50px;

  --home-base-line: 14%;
  --home-3m-line: 38%;
  --centre-line: 50%;
  --away-3m-line: 62%;
  --away-base-line: 86%;

  --court-left-line: 41%;
  --court-right-line: 59%;

  --court-width: calc(var(--court-right-line) - var(--court-left-line));
  --backcourt-height: calc(var(--home-3m-line) - var(--home-base-line));
  --frontcourt-height: calc(var(--centre-line) - var(--home-3m-line));


  height: 100vh;
  background-image: url('/volleyball_court.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.court_area {
  position: fixed;
  left: var(--court-left-line);
}

.backcourt {
  width: var(--court-width);
  height: var(--backcourt-height);
}

.frontcourt {
  width: var(--court-width);
  height: var(--frontcourt-height);
}

.home__backcourt {
  /* background-color: lightblue; */
  
  top: var(--home-base-line);
}

.home__frontcourt {
  /* background-color: cyan; */

  top: var(--home-3m-line);
}

.away__frontcourt {
  /* background-color: lightcoral; */
  
  top: var(--centre-line);
}

.away__backcourt {
  /* background-color: lightpink; */
  
  top: var(--away-3m-line);
}


.player {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  border-color: white;
  border-radius: 50% 50%;
  border-width: 5px;
  border-style: solid;

  width: var(--player-circle-diameter);
  height: var(--player-circle-diameter);

  font-weight: bold;
  top: calc(50% - (var(--player-circle-diameter) / 2));
}

.player__home {
  background-color: darkblue;
}

.player__away {
  background-color: darkorchid;
}


.position__left {
  left: calc(25% - (var(--player-circle-diameter) / 2));
}

.position__middle {
  left: calc(50% - (var(--player-circle-diameter) / 2));
}

.position__right {
  left: calc(75% - (var(--player-circle-diameter) / 2));
}


.scoreboard {
  left: calc(50% - 150px);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.scoreboard__button {

  --button-diameter: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--button-diameter);
  height: var(--button-diameter);
  
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: white;

  font-size: large;
}

.scoreboard__score {
  display: flex;
  justify-content: center;
  width: 50px;
}

